<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translation</title>
    <script>
        function handle(event) {
            console.log("DEBUG")
            event.preventDefault();
            const text = document.querySelector('input[name = "text"]').value;
            const source = document.querySelector('select[name = "from"]').value;
            const target = document.querySelector('select[name = "to"]').value;
            const isCorrect = document.querySelector('select[name = "isCorrect"]').value;
            console.log(isCorrect)
            const url = "http://localhost:8080/translate?correctTranslation=" + isCorrect;
            const translationRequest = {
                text: text,
                source: source,
                target: target
            };
            console.log(translationRequest)
            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify(translationRequest)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(text => {
                    document.getElementById('response').textContent = text;
                })
        }
    </script>
</head>
<body>
<div>
    <form onsubmit="handle(event)">
        <label for="text">Write text here</label><input type="text" id="text" name="text" required/>
        <label for="source">From language</label><select id="source" name="from" required>
        <option value="ru">RUSSIAN</option>
        <option value="en">ENGLISH</option>
        <option value="ar">ARABIC</option>
        <option value="az">AZERBAIJANI</option>
        <option value="ca">CATALAN</option>
        <option value="zh">CHINESE</option>
        <option value="cs">CZECH</option>
        <option value="da">CZECH</option>
        <option value="nl">DUTCH</option>
        <option value="eo">ESPERANTO</option>
        <option value="fi">FINNISH</option>
        <option value="fr">FRENCH</option>
        <option value="de">GERMAN</option>
        <option value="el">GREEK</option>
        <option value="he">HEBREW</option>
        <option value="hi">HINDI</option>
        <option value="hu">HUNGARIAN</option>
        <option value="id">INDONESIAN</option>
        <option value="ga">IRISH</option>
        <option value="it">ITALIAN</option>
        <option value="ja">JAPANESE</option>
        <option value="ko">KOREAN</option>
        <option value="fa">PERSIAN</option>
        <option value="pl">POLISH</option>
        <option value="pt">PORTUGUESE</option>
        <option value="sk">SLOVAK</option>
        <option value="es">SPANISH</option>
        <option value="sv">SWEDISH</option>
        <option value="tr">TURKISH</option>
        <option value="uk">UKRAINIAN</option>
    </select>
        <label for="target">To language</label><select id="target" name="to" required>
        <option value="ru">RUSSIAN</option>
        <option value="en">ENGLISH</option>
        <option value="ar">ARABIC</option>
        <option value="az">AZERBAIJANI</option>
        <option value="ca">CATALAN</option>
        <option value="zh">CHINESE</option>
        <option value="cs">CZECH</option>
        <option value="da">CZECH</option>
        <option value="nl">DUTCH</option>
        <option value="eo">ESPERANTO</option>
        <option value="fi">FINNISH</option>
        <option value="fr">FRENCH</option>
        <option value="de">GERMAN</option>
        <option value="el">GREEK</option>
        <option value="he">HEBREW</option>
        <option value="hi">HINDI</option>
        <option value="hu">HUNGARIAN</option>
        <option value="id">INDONESIAN</option>
        <option value="ga">IRISH</option>
        <option value="it">ITALIAN</option>
        <option value="ja">JAPANESE</option>
        <option value="ko">KOREAN</option>
        <option value="fa">PERSIAN</option>
        <option value="pl">POLISH</option>
        <option value="pt">PORTUGUESE</option>
        <option value="sk">SLOVAK</option>
        <option value="es">SPANISH</option>
        <option value="sv">SWEDISH</option>
        <option value="tr">TURKISH</option>
        <option value="uk">UKRAINIAN</option>
    </select>
        <label for="isCorrect">Choose translation mode</label><select id="isCorrect" name="isCorrect">
        <option value="true">Correct translation</option>
        <option value="false">Translation by words</option>
    </select>
        <input type="submit" value="Translate">
    </form>
</div>
<div id="response">Translated text will be here</div>
</body>
</html>